/* css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
	
	.chesscontainer {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.chessboard {
		align-items: center;
        justify-content: center;
        font-size: 1.5em;
        color: red;
        position: relative;
		display: inline-grid;
		grid-template-columns: repeat(8, 12vw);
		grid-template-rows: repeat(8, 12vw);
	}
	
    .startmessage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);  /* Optional: Semi-transparent background */
        color: white;
        padding: 20px;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 10;
    }

	.square {
		width: 12vw;
		height: 12vw;
	}
	.white {
		background-color: white;
	}
	.black {
		background-color: gray;
	}
    .white:hover {
        background-color: lightblue;
    }
    .black:hover {
        background-color: lightblue;
    }
    .player {
        top: 50%;
        left: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: -10;
        font-size: 1.5em;
        color: black;
        transition: top 0.5s linear, left 0.5s linear;
    }
    .knightEnemy {
        top: 50%;
        left: 50%;
        position: absolute;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        z-index: -10;
        font-size: 1.5em;
        color: blue;
        transition: top 0.5s linear, left 0.5s linear;
    }
    .rookEnemy {
        top: 50%;
        left: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: -10;
        font-size: 1.5em;
        color: red;
    }
    .bishopEnemy {
        top: 50%;
        left: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: -10;
        font-size: 1.5em;
        color: red;
    }
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 0 px;
    text-align: center;
}

